apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ certificate_authority_data }}
    server: {{ server }}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: basic-authentication
  name: basic-authentication@kubernetes
- context:
    cluster: kubernetes
    user: cert-authentication
  name: cert-authentication@kubernetes
current-context: {{ context_name }}
kind: Config
preferences: {}
users:
- name: basic-authentication
  user:
    username: {{ username }}
    password: {{ password }}
- name: cert-authentication
  user:
    client-certificate-data: {{ client_certificate_data }}
    client-key-data: {{ client_key_data }}
